@model DentAssist.Models.Entities.Odontologo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Seguro que deseas eliminar este Odontologo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOdontologo" />
        <input type="submit" value="🗑️ Eliminar" class="btn btn-danger" /> | 
            <a asp-controller="Odontologo" asp-action="Index" class="btn btn-outline-primary">  
                ⬅️ Volver a Gestion de Odontologo
            </a>
    </form>
</div>
