@model DentAssist.Models.Entities.Recepcionista

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Seguro que deseas eliminar este Recepcionista?</h3>
<div>
    <h4>Recepcionista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="🗑️ Eliminar" class="btn btn-danger" /> |
        <a asp-controller="Recepcionista" asp-action="Index" class="btn btn-outline-primary">
            ⬅️ Volver a Gestion de Recepcionista
        </a>
    </form>
</div>
