@model DentAssist.Models.Entities.Turno

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionMinutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionMinutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odontologo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odontologo.Matricula)
        </dd>
    </dl>
</div>
<div class="text-start">
    <a asp-controller="Turno" asp-action="Index" class="btn btn-outline-primary">
        ⬅️ Volver a Gestion de Turnos
    </a>
</div>
