@model DentAssist.Models.Entities.Tratamiento

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Seguro que deseas eliminar este Tratamiento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEstimado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTratamiento" />
        <input type="submit" value="🗑️ Eliminar" class="btn btn-danger" /> |
        <a asp-controller="Tratamiento" asp-action="Index" class="btn btn-outline-primary">
            ⬅️ Volver a Gestion de Tratamientos
        </a>
    </form>
</div>
