@model DentAssist.Models.Entities.Tratamiento

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEstimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioEstimado)
        </dd>
    </dl>
</div>
<div class="text-start">
    <a asp-controller="Tratamiento" asp-action="Index" class="btn btn-outline-primary">
        ⬅️ Volver a Gestion de Tratamientos
    </a>
</div>
