@model IEnumerable<DentAssist.Models.Entities.PlanTratamiento>

@{
    ViewData["Title"] = "Historial";
}

<h1>Historial Plan de Tratamiento</h1>

<p>
    <a asp-action="Create" class="btn btn-success">➕ Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odontologo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odontologo.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
                    <td class="text-nowrap">
                        <a asp-action="Edit" asp-route-id="@item.IdPlan" class="btn btn-sm btn-warning me-1">
                            ✏️ Editar
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdPlan" class="btn btn-sm btn-info me-1 text-white">
                            🔍 Detalles
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdPlan" class="btn btn-sm btn-danger">
                            🗑️ Eliminar
                        </a>
                    </td>
        </tr>
}
    </tbody>
</table>

<div class="text-start">
    <a asp-controller="Odontologo" asp-action="Menu" class="btn btn-outline-primary">
        ⬅️ Volver al Menú de Odontologo
    </a>
</div>